thtml, body {
  margin: 0;
  padding: 0;
}


canvas {
  display: block;
  float: center;
/*   flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; */
  padding: 5px;
}
