html, body {
  margin: 0;
  padding: 20px;
}

.container {
  width: 80%;
  margin: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
/*    border-style: solid;
    border-color: black;
    border-width: thin;*/
    justify-content: center;
    /*height: 400px;*/
    justify-content: center;
    
}


.canvas {
  /*border-style: solid;*/
/*    border-color: red;
    border-width: medium;*/
    margin: 7px;
}
